@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #10141e;
  --dark-blue-2: #161d2f;
  --red: #fc4747;
  --greyish-blue: #5a698f;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

img {
  max-width: unset;
}

button,
input {
  background: none;
  border: 0;
}

.home-inner {
  @apply p-4 overflow-x-hidden;
}

article .movie {
  @apply relative rounded-2xl max-w-[unset];
}

.trending,
.movies {
  h3 {
    @apply text-[.95rem] font-medium text-white;
  }

  p {
    @apply text-white opacity-75 font-light;

    span:nth-child(2)::before,
    span:nth-child(2)::after {
      @apply inline-flex h-1 w-1 bg-white opacity-50 rounded-[25px] mx-2;
      content: '';
      mix-blend-mode: normal;
    }
  }

  button {
    @apply cursor-pointer h-8 w-8 rounded-2xl absolute right-3 top-3 flex items-center justify-center;
    background: rgba(0, 0, 0, 0.6);

    &:hover {
      background: #fff;
      transition: all 0.3s ease-in-out;

      &:hover svg path {
        stroke: #000;
        transition: all 0.6s ease-in-out;
      }
    }
    // svg:active path {
    //   fill: #fff;
    // }
  }

  .bookmarked-movie {
    fill: #fff;
  }
}

h2,
h3 {
  @apply font-light text-white;
}
