@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #10141e;
  --dark-blue-2: #161d2f;
  --red: #fc4747;
  --greyish-blue: #5a698f;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

button,
input {
  background: none;
  border: 0;
}

button:focus {
  outline: 1px dashed var(--red);
}

@mixin flex($flex_position: center) {
  justify-content: $flex_position;
  display: flex;
  align-items: center;
}

.home {
  @apply bg-dark-blue min-h-[100vh];
}

.home-inner {
  @apply p-4 overflow-x-hidden;
}

.trending {
  @apply bg-no-repeat bg-cover h-[12rem] relative rounded-2xl;
}

article .movie {
  @apply relative rounded-2xl w-[450px] h-[200px];
}

.trending,
.movies {
  h3 {
    @apply text-[1.05rem] font-medium text-white;
  }

  p {
    @apply text-white opacity-75 font-light;

    span:nth-child(2)::before,
    span:nth-child(2)::after {
      @apply inline-flex h-1 w-1 bg-white opacity-50 rounded-[25px] mx-2;
      content: '';
      //mix-blend-mode: normal;
    }
  }

  span img {
    margin-right: 0.4rem;
  }

  button {
    @apply cursor-pointer h-6 w-6 rounded-2xl absolute right-3 top-3 flex items-center;

    &:hover {
      background: #fff;
    }

    svg:hover path {
      fill: #000;
    }

    svg:active path {
      fill: #fff;
    }
  }
}

.input-wrap {
  @apply flex py-2 mb-6;

  &:focus-within {
    outline: 1px dashed var(--red);
  }

  input {
    @apply w-full pl-4 text-white outline-none text-[1.1rem] font-light;
  }

  input::placeholder {
    @apply opacity-50 text-white font-light text-[15px];
  }
}

h2,
h3 {
  @apply font-light text-white;
}

.trend-wrap {
  > div {
    @apply flex overflow-x-scroll pb-12;

    -ms-overflow-style: none; // for Internet Explorer, Edge
    scrollbar-width: none; // for Firefox

    &::-webkit-scrollbar {
      display: none; // for Chrome, Safari and Opera
    }

    > div {
      margin-right: 1rem;
    }
  }
}

.recommended-movies {
  h2 {
    margin: 1.5rem 0;
  }

  .inner-recomend {
    @apply grid gap-6;
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 700px) {
  .recommended-movies {
    h2 {
      margin: 2rem 0;
    }

    .inner-recomend {
      grid-template-columns: auto auto auto;
    }
  }

  .input-wrap {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .home > div {
    @apply grid w-full max-w-[1400px] m-auto;
    grid-template-columns: auto auto;
  }

  .input-wrap input::placeholder {
    font-size: 1.2rem;
  }
  .trending h3 {
    font-size: 1.3rem;
  }

  .home {
    @apply grid w-full max-w-[1400px] m-auto;
    grid-template-columns: auto auto;
  }

  article .movie {
    height: 220px;
  }
}

@media screen and (min-width: 1200px) {
  .recommended-movies {
    .inner-recomend {
      grid-template-columns: auto auto auto auto;
    }
  }
}
