@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #10141e;
  --dark-blue-2: #161d2f;
  --red: #fc4747;
  --greyish-blue: #5a698f;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

button,
input {
  background: none;
  border: 0;
}

button:focus {
  outline: 1px dashed $red;
}

.home {
  @apply bg-dark-blue min-h-[100vh]
    background-color: $dark-blue;
}

.home-inner {
  @apply p-4 overflow-x-hidden;
}

.trending {
  @apply bg-no-repeat bg-cover h-[12rem] relative rounded-2xl;
}

article .movie {
  @apply relative rounded-2xl w-[450px] h-[200px];
}

/* .trending,
  .movies {
    h3 {
      font-weight: 500;
      font-size: 1.05rem;
    }
  
    h3,
    p {
      color: #fff;
    }
  
    p {
      opacity: 0.75;
      font-weight: 300;
  
      span:nth-child(2)::before,
      span:nth-child(2)::after {
        content: '';
        display: inline-flex;
        height: 0.25rem;
        width: 0.25rem;
        background: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.5;
        border-radius: 25px;
        margin: 0 0.4rem;
      }
    }
  
    span img {
      margin-right: 0.4rem;
    }
  
    button {
      cursor: pointer;
      background: #10141e;
      // mix-blend-mode: normal;
      // opacity: 0.5;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 15px;
      position: absolute;
      right: 0.7rem;
      top: 0.7rem;
      @include flex;
  
      &:hover {
        background: #fff;
      }
  
      svg:hover path {
        fill: #000;
      }
  
      svg:active path {
        fill: #fff;
      }
    }
  } */
@media screen and (min-width: 1024px) {
  .trending h3 {
    font-size: 1.3rem;
  }

  .home {
    @apply grid w-full max-w-[1400px] m-auto;
    grid-template-columns: auto auto;
  }

  article .movie {
    height: 220px;
  }
}
